In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
class Lectura_csv():
    def __init__(self, limit):
        self.limit = limit
        self.val = 0
    
    # Hace esta clase iterable
    def __iter__(self):
        return self
    
    # Hace esta clase un iterador
    def __next__(self):
        if self.val > self.limit:
            raise StopIteration
        else:
            return_val = self.val
            self.val += 2
            return return_val

In [3]:
archivo = pd.read_csv('iris.csv')
print('INICIO DE LA LECTURA')
for i in Lectura_csv(16):
    try:
        display(pd.DataFrame(archivo.iloc[i]))
    except:
        None
print('\n NO HAY MÁS LÍNEAS PARES POR LEER')

INICIO DE LA LECTURA

                   0
sepal.length     5.1
sepal.width      3.5
petal.length     1.4
petal.width      0.2
variety       Setosa

                   2
sepal.length     4.7
sepal.width      3.2
petal.length     1.3
petal.width      0.2
variety       Setosa

                       4
sepal.length         5.5
sepal.width          2.3
petal.length         4.0
petal.width          1.3
variety       Versicolor

                       6
sepal.length         5.7
sepal.width          2.8
petal.length         4.5
petal.width          1.3
variety       Versicolor

                      8
sepal.length        6.1
sepal.width         3.0
petal.length        4.9
petal.width         1.8
variety       Virginica

                     10
sepal.length        7.2
sepal.width         3.0
petal.length        5.8
petal.width         1.6
variety       Virginica

                     12
sepal.length        7.9
sepal.width         3.8
petal.length        6.4
petal.width         2.0
variety       Virginica

 NO HAY MÁS LÍNEAS PARES POR LEER